<%= render partial: "shared/user_profile", locals: { user: @user } %>

<% if current_user == @user || current_user.admin? %>
  <div class="user-profile-friend pt-4">
    <div class="friend-list px-5">
      <h5 class="text-center mb-3">Waiting for response</h5>
      <div class="row">
        <% @requests.each do |request| %>
          <div class="col-md-2">
            <div class="px-4 mb-2">
              <%= image_tag request.friend.avatar.url, class: "mw-100" if request.friend.avatar? %>
            </div>
            <h6 class="text-center">
              <%= link_to request.friend.name, my_post_user_path(request.friend), class: "link-style" %>
            </h6>
            <div class="user-<%= request.friend.id %> mb-4 my-friend-add-friend">
              <% if current_user == @user %>
                <%= render partial: "shared/add_friend", locals: { user: request.friend } %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="friend-list px-5 pt-4">
      <h5 class="text-center mb-3">Someone wants to be your friend</h5>
      <div class="row">
        <% @unconfirms.each do |unconfirm| %>
          <div class="col-md-2">
            <div class="px-4 mb-2">
              <%= image_tag unconfirm.friend.avatar.url, class: "mw-100" if unconfirm.friend.avatar? %>
            </div>
            <h6 class="text-center">
              <%= link_to unconfirm.friend.name, my_post_user_path(unconfirm.friend), class: "link-style" %>
            </h6>
            <div class="user-<%= unconfirm.friend.id %> mb-4 my-friend-add-friend">
              <% if current_user == @user %>
                <%= render partial: "shared/add_friend", locals: { user: unconfirm.friend } %>
                <button class="btn btn-secondary d-block w-100 mt-2 ajax-ignore">Ignore</button>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="friend-list px-5 pt-4">
      <h5 class="text-center mb-3">Your friends</h5>
      <div class="row confirm-friends">
        <% @confirms.each do |confirm| %>
          <div class="col-md-2">
            <div class="px-4 mb-2">
              <%= image_tag confirm.friend.avatar.url, class: "mw-100" if confirm.friend.avatar? %>
            </div>
            <h6 class="text-center mb-4">
              <%= link_to confirm.friend.name, my_post_user_path(confirm.friend), class: "link-style" %>
            </h6>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<!-- =================== Friend AJAX ===================== -->
<script type="text/javascript">
  $(".my-friend-add-friend").on("click", ".ajax-cancel-request", function(event) {
    var userId = event.target.parentNode.classList.item(0).slice(5);
    $.ajax({
      url: "/users/" + userId + "/cancel_request",
      method: "POST",
      dataType: "json",
      success: function(data) {
        $(".user-" + data["user_id"]).parent().remove();
      }
    });
  });
</script>

<script type="text/javascript">
  $(".my-friend-add-friend").on("click", ".ajax-ignore", function(event) {
    var userId = event.target.parentNode.classList.item(0).slice(5);
    $.ajax({
      url: "/users/" + userId + "/ignore",
      method: "POST",
      dataType: "json",
      success: function(data) {
        $(".user-" + data["user_id"]).parent().remove();
      }
    });
  });
</script>

<script type="text/javascript">
$(".my-friend-add-friend").on("click", ".ajax-accept", function(event) {
  var userId = event.target.parentNode.classList.item(0).slice(5);
  $.ajax({
    url: "/users/" + userId + "/confirm_friend",
    method: "POST",
    dataType: "json",
    success: function(data) {
      $(".user-" + data["user_id"]).parent().remove();

      $(".confirm-friends").append($("#confirm-friend-template").html());
      var friendBox = $(".confirm-friends").children().last();
      friendBox.find("img").attr("src", data["user_avatar_url"]);
      friendBox.find("a").html(data["user_name"]);
      friendBox.find("a").attr("href", "/users/" + data["user_id"] + "/my_post");
    }
  });
});
</script>

<script type="text/template" id="confirm-friend-template">
  <div class="col-md-2">
    <div class="px-4 mb-2">
      <img class="mw-100">
    </div>
    <h6 class="text-center mb-4">
      <a class="link-style"></a>
    </h6>
  </div>
</script>
