<div class="user-profile p-5">
  <div class="row">
    <div class="col-md-2">
      <div class="w-100">
        <%= image_tag user.avatar.url, class: "mw-100" if user.avatar? %>
      </div>
      <h3 class="text-center mt-2"><%= user.name %></h3>
    </div>
    <div class="offset-md-1 col-md-9">
      <p><%= user.introduction %></p>
    </div>
    <div class="w-100 text-right">
      <% if current_user == user %>
        <%= link_to "Edit", edit_user_path(user), class: "btn btn-secondary" %>
      <% else %>
        <div class="d-inline-block" style="max-width: 180px;">
          <%= render partial: "shared/add_friend", locals: { user: user } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="mt-4">
  <ul class="nav nav-tabs user-profile-navs">
    <li class="nav-item ml-5">
      <%= link_to "My Post", my_post_user_path(user),
      class: "nav-link #{"active" if !@status } link-style" %>
    </li>
    <li class="nav-item">
      <%= link_to "My Comment", my_comment_user_path(user,status: "comment"),
      class: "nav-link #{"active" if @status == "comment"} link-style" %>
    </li>
    <% if current_user == user || current_user.admin? %>
      <li class="nav-item">
        <%= link_to "My Collect", my_collect_user_path(user,status: "collect"),
        class: "nav-link #{"active" if @status == "collect"} link-style" %>
      </li>
      <li class="nav-item">
        <%= link_to "My Draft", my_draft_user_path(user,status: "draft"),
        class: "nav-link #{"active" if @status == "draft"} link-style" %>
      </li>
      <li class="nav-item">
        <%= link_to "My Friend", my_friend_user_path(user,status: "friend"),
        class: "nav-link #{"active" if @status == "friend"} link-style" %>
      </li>
    <% end %>
  </ul>
</div>
