<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group login-group text-center">
    <div class="d-inline-block">
      <div class="field mb-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
        class: "form-control", placeholder: "Email" %>
      </div>

      <div class="field mb-4">
        <%= f.password_field :password, autocomplete: "off",
        class: "form-control", placeholder: "Password" %>
      </div>

      <div class="actions position-relative">
        <%= link_to "Sign up", new_user_registration_path,
        class: "btn btn-secondary login-btn" %>
        <%= f.submit "Log in", class: "btn btn-secondary login-btn" %>
      </div>
    </div>
  </div>
<% end %>
