<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="<%= admin_categories_path %>">Category List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= admin_root_path %>">User List</a>
  </li>
</ul>
<br>

<%= form_for [:admin, @category] do |f| %>
  <div class="form-inline">
    <%= f.text_field :name, placeholder: "Category Name", class: "form-control mr-2" %>
    <% if @category.name? %>
      <%= f.submit "Update", class: "btn" %>
    <% else %>
      <%= f.submit "Create", class: "btn" %>
    <% end %>
  </div>
<% end %>
<br>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%= link_to "Edit", admin_categories_path(id: category.id), class: "btn btn-secondary" %>
          <%= link_to "Delete", admin_category_path(category), method: :delete,
          data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
