<div>
<%= @post.title %>
<button>Collect</button>
<a href="#comment-area"><button>Comment</button></a>
<span class="badge badge-warning"><%= "draft: " + @post.draft?.to_s %></span>
</div>

<div>
  <% @categories.each do |category| %>
    <span class="badge badge-secondary"><%= category.name %></span>
  <% end %>
</div>

<div>
  <h3><%= @post.user.name %></h3>
  <%= image_tag @post.user.avatar.url if @post.user.avatar? %>
  <%= image_tag @post.photo.url if @post.photo? %>
  <p><%= @post.content %></p>
  <% if current_user.admin? || @post.user == current_user %>
    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-secondary" %>
    <%= link_to "Delete", post_path(@post), method: :delete,
    class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
  <% end %>
</div>

<% @post.replies.each do |reply| %>
  <div>
    <h3><%= reply.user.name %></h3>
    <%= image_tag reply.user.avatar.url if reply.user.avatar? %>
    <p><%= reply.comment %></p>
    <% if current_user.admin? || reply.user == current_user %>
      <%= link_to "Edit", edit_post_reply_path(@post, reply), class: "btn btn-secondary" %>
      <%= link_to "Delete", post_reply_path(@post, reply), method: :delete,
      class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
  <hr>
<% end %>

<%= form_for [@post, Reply.new] do |f| %>
  <div class="form-group" id="comment-area">
    <%= f.text_area :comment, placeholder: "Add comment", class: "form-control" %>
    <br>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
