<div>
<%= @post.title %>
<button>Collect</button>
<button>Comment</button>
</div>

<div>
  <h3><%= @post.user.name %></h3>
  <%= image_tag @post.photo.url %>
  <p><%= @post.content %></p>
</div>

<% @replies.each do |reply| %>
  <div>
    <h3><%= reply.user.name %></h3>
    <p><%= reply.comment %></p>
  </div>
<% end %>
