<div>
  <div class="post-title mb-3 p-3">
    <h2 class="d-inline-block"><%= @post.title %></h2>
    <div class="d-inline-block float-right ajax-collect-function" id="<%= @post.id %>">
      <% if current_user.collected_post?(@post) %>
        <button class="ajax-uncollect btn btn-outline-secondary">Uncollect</button>
      <% else %>
        <button class="ajax-collect btn btn-secondary">Collect</button>
      <% end %>
      <a href="#comment-area" class="btn btn-secondary">Comment</a>
    </div>
    <div>
      <% @categories.each do |category| %>
        <span class="badge badge-secondary"><%= category.name %></span>
      <% end %>
    </div>
  </div>
  <div class="row mt-5 mx-4">
    <div class="col-md-2">
      <div class="w-100 m-auto">
        <%= image_tag @post.user.avatar.url, class: "mw-100" if @post.user.avatar? %>
      </div>
      <h3 class="mx-auto mt-1 text-center">
        <%= link_to @post.user.name, my_post_user_path(@post.user), class: "link-style" %>
      </h3>
      <div class="user-<%= @post.user.id %> mt-3 w-100 post-show-add-friend">
        <% if current_user != @post.user %>
          <%= render partial: "shared/add_friend", locals: { user: @post.user } %>
        <% end %>
      </div>
    </div>
    <div class="offset-md-1 col-md-9 position-relative">
      <div class="mb-4" style="max-width: 500px; max-height: 400px;">
        <%= image_tag @post.photo.url, class: "mw-100" if @post.photo? %>
      </div>
      <div class="px-2">
        <p><%= @post.content %></p>
      </div>
    </div>
  </div>
  <div class="position-relative mt-4">
    <div class="post-edit">
      <% if @post.user == current_user %>
        <%= link_to edit_post_path(@post), class: "btn btn-light" do %>
          <%= icon("far", "edit") %>
        <% end %>
      <% end %>
      <% if @post.user == current_user || current_user.admin? %>
        <%= link_to post_path(@post), method: :delete,
        class: "btn btn-light", data: { confirm: "Are you sure?" } do %>
          <%= icon("fas", "times") %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div style="height: 1px; clear: both;" class="bg-secondary my-5"></div>
</div>

<% @replies.each do |reply| %>
  <div class="post-<%= reply.post.id %>" id="<%= reply.id %>">
    <div class="row mb-3 mx-4">
      <div class="col-md-2">
        <div class="w-100 m-auto">
          <%= image_tag reply.user.avatar.url, class: "mw-100" if reply.user.avatar? %>
        </div>
        <h3 class="mx-auto mt-1 text-center">
          <%= link_to reply.user.name, my_post_user_path(reply.user), class: "link-style" %>
        </h3>
        <div class="user-<%= reply.user.id %> mt-3 w-100 post-show-add-friend">
          <% if current_user != reply.user %>
            <%= render partial: "shared/add_friend", locals: { user: reply.user } %>
          <% end %>
        </div>
      </div>
      <div class="offset-md-1 col-md-9">
        <div class="px-2 post-comment-content">
          <p><%= reply.comment %></p>
        </div>
      </div>
    </div>
    <div class="position-relative">
      <div class="post-edit">
        <% if reply.user == current_user %>
          <button class="btn btn-light ajax-comment-edit">
            <i class="far fa-edit"></i>
          </button>
          <button class="btn btn-light ajax-comment-destroy" data-confirm="Are you sure?">
            <i class="fas fa-times"></i>
          </button>
        <% end %>
      </div>
    </div>
    <div style="height: 1px; clear: both;" class="bg-secondary my-4"></div>
  </div>
<% end %>

<div class="text-center" style="margin-top: 100px;">
  <%= paginate @replies, window: 2 %>
</div>

<div class="mt-5 mx-4">
  <%= form_for [@post, Reply.new] do |f| %>
    <div class="form-group" id="comment-area">
      <%= f.text_area :comment, placeholder: "Add comment", class: "form-control", rows: 5 %>
      <%= f.submit "Submit", class: "btn btn-primary float-right mt-3" %>
    </div>
  <% end %>
</div>

<!-- =================== Comment AJAX ===================== -->
<script type="text/javascript">
  $(".post-edit").on("click", ".ajax-comment-edit", function(event) {
    var id = event.target.parentNode.parentNode.parentNode.id;
    if(id == ""){
      var id = event.target.parentNode.parentNode.parentNode.parentNode.id;
    }
    postId = $("#" + id).attr("class").slice(5);
    $.ajax({
      url: "/posts/" + postId + "/replies/" + id + "/edit",
      method: "GET",
      dataType: "json",
      success: function(data) {
        var editForm = $("#" + data["id"]).find(".post-comment-content");
        editForm.html($("#edit-comment-template").html());
        editForm.find(".update-comment").val(data["comment"]);
        $("#" + data["id"]).find(".post-edit").html($("#update-icon-template").html());
      }
    });
  });
</script>

<script type="text/javascript">
  $(".post-edit").on("click", ".ajax-comment-update", function(event) {
    var id = event.target.parentNode.parentNode.parentNode.id;
    if(id == ""){
      var id = event.target.parentNode.parentNode.parentNode.parentNode.id;
    }
    postId = $("#" + id).attr("class").slice(5);
    $.ajax({
      url: "/posts/" + postId + "/replies/" + id,
      method: "PATCH",
      dataType: "json",
      data: {
        reply: {
          comment: $("#" + id).find(".update-comment").val()
        }
      },
      success: function(updateData) {
        var editForm = $("#" + updateData["id"]).find(".post-comment-content");
        editForm.html("<p class='py-3 px-2'></p>");
        editForm.find("p").html(updateData["comment"]);
        $("#" + updateData["id"]).find(".post-edit").html($("#edit-icon-template").html());
      }
    });
  });
</script>

<script type="text/javascript">
$(".post-edit").on("click", ".ajax-comment-destroy", function(event) {
  var id = event.target.parentNode.parentNode.parentNode.id;
  if(id == ""){
    var id = event.target.parentNode.parentNode.parentNode.parentNode.id;
  }
  postId = $("#" + id).attr("class").split(" ")[0].slice(5);
  $.ajax({
    url: "/posts/" + postId + "/replies/" + id,
    method: "DELETE",
    dataType: "json",
    success: function(data) {
      $("#" + data["id"]).remove();
    }
  });
});
</script>

<script type="text/template" id="edit-comment-template">
  <form>
    <div class="input-group">
      <textarea type="text_area" class="update-comment form-control py-3 px-2"
      rows="4"></textarea>
    </div>
  </form>
</script>

<script type="text/template" id="update-icon-template">
  <button class="btn btn-light ajax-comment-update">
    <i class="fas fa-check"></i>
  </button>
</script>

<script type="text/template" id="edit-icon-template">
  <button class="btn btn-light ajax-comment-edit">
    <i class="far fa-edit"></i>
  </button>
  <button class="btn btn-light ajax-comment-destroy" data-confirm="Are you sure?">
    <i class="fas fa-times"></i>
  </button>
</script>

<!-- =================== Collect AJAX ===================== -->
<script type="text/javascript">
  $(".ajax-collect-function").on("click", ".ajax-uncollect", function(event) {
    var id = event.target.parentNode.id;
    $.ajax({
      url: "/posts/" + id + "/uncollect",
      method: "POST",
      dataType: "json",
      success: function(data) {
        $("#" + data["id"]).html($("#collect-template").html());
      }
    });
  });
</script>

<script type="text/javascript">
$(".ajax-collect-function").on("click", ".ajax-collect", function(event) {
  var id = event.target.parentNode.id;
  $.ajax({
    url: "/posts/" + id + "/collect",
    method: "POST",
    dataType: "json",
    success: function(data) {
      $("#" + data["id"]).html($("#uncollect-template").html());
    }
  });
});
</script>

<script type="text/template" id="collect-template">
  <button class="ajax-collect btn btn-secondary">Collect</button>
  <a href="#comment-area" class="btn btn-secondary">Comment</a>
</script>

<script type="text/template" id="uncollect-template">
  <button class="ajax-uncollect btn btn-outline-secondary">Uncollect</button>
  <a href="#comment-area" class="btn btn-secondary">Comment</a>
</script>

<!-- =================== Friend AJAX ===================== -->
<script type="text/javascript">
  $(".post-show-add-friend").on("click", ".ajax-add-friend", function(event) {
    var userId = event.target.parentNode.classList.item(0).slice(5);
    $.ajax({
      url: "/users/" + userId + "/add_friend",
      method: "POST",
      dataType: "json",
      success: function(data) {
        $(".user-" + data["user_id"]).html($("#cancel-request-template").html());
      }
    });
  });
</script>

<script type="text/javascript">
  $(".post-show-add-friend").on("click", ".ajax-cancel-request", function(event) {
    var userId = event.target.parentNode.classList.item(0).slice(5);
    $.ajax({
      url: "/users/" + userId + "/cancel_request",
      method: "POST",
      dataType: "json",
      success: function(data) {
        $(".user-" + data["user_id"]).html($("#add-friend-template").html());
      }
    });
  });
</script>

<script type="text/javascript">
  $(".post-show-add-friend").on("click", ".ajax-accept", function(event) {
    var userId = event.target.parentNode.classList.item(0).slice(5);
    $.ajax({
      url: "/users/" + userId + "/confirm_friend",
      method: "POST",
      dataType: "json",
      success: function(data) {
        $(".user-" + data["user_id"]).html($("#friend-template").html());
      }
    });
  });
</script>

<script type="text/template" id="add-friend-template">
  <button class="btn btn-secondary d-block w-100 ajax-add-friend">Add Friend</button>
</script>

<script type="text/template" id="cancel-request-template">
  <button class="btn btn-secondary d-inline-block w-100 ajax-cancel-request">Cancel Request</button>
</script>

<script type="text/template" id="friend-template">
  <span class="btn btn-secondary disabled d-block w-100">Friend</span>
</script>
