<div>
<%= @post.title %>
<button>Collect</button>
<a href="#comment-area"><button>Comment</button></a>
</div>

<div>
  <h3><%= @post.user.name %></h3>
  <%= image_tag @post.photo.url %>
  <p><%= @post.content %></p>
</div>

<% @replies.each do |reply| %>
  <div>
    <h3><%= reply.user.name %></h3>
    <p><%= reply.comment %></p>
  </div>
<% end %>

<%= form_for [@post, Reply.new] do |f| %>
  <div class="form-group" id="comment-area">
    <%= f.text_area :comment, placeholder: "Add comment", class: "form-control" %>
    <br>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
